/** Imports */

/* Main Font */
@import url('https://fastly.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

/* Dan Logo Font */
@font-face {
    font-family: 'Bitmgothic';
    font-display: swap;
    src: local('Bitmgothic'),
        url('./lib/fonts/Bitmgothic.woff') format('woff2'),
        url('./lib/fonts/Bitmgothic.ttf') format('truetype');
}

/** Background */
body {
    background:
        var(--background-image)
        var(--background-colour)
        repeat
    ;
    margin: 0px;
    padding: 0px; 
    height: 100vh;
    width: 100vw;
    position: absolute;
    overflow-x: hidden;
    animation: backgroundAnimation var(--background-scroll-time) linear infinite;
}

/** Layout */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.pageGrid {
    display: grid;
    height: 70%;
    width: calc(60% + 2px);
    min-width: 600px;
    grid-template-columns: 0.75fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 0.05fr;
    grid-template-areas:
        "status     title           title"
        "sideBar    main            main"
        "sideBar    controls     controls"
    ;
    grid-gap: 0.4rem;
}

.cardGrid {
    display: grid;
    height: 60%;
    width: 45%;
    min-width: 450px;
    grid-template-columns: 1fr;
    grid-template-rows: 0.25fr 1fr 0.05fr;
    grid-template-areas:
        "title"
        "main"
        "controls"
    ;
}

.title {
    grid-area: title;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.logo {
    text-align: right;
    width: 230px;
}

.sideBar {
    grid-area: sideBar;
    border: 2px solid var(--window-border);
    padding: 20px;
    background: linear-gradient(
        0deg,
        var(--window-background-bottom) 0%,
        var(--window-background-top) 100%
        );
    box-shadow:
        var(--window-shadow)
        10px
        10px
        3px
    ;
}

main {
    overflow-y: scroll;
    grid-area: main;
    scrollbar-width: none;
}

.status {
    overflow-y: scroll;
    grid-area: status;
    scrollbar-width: none;
    padding-left: 10px;
    background-color: rgba(0, 0, 20, 0.5);
    margin: 5px;
    margin-bottom: -5px;
}

.postsVertical {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding-bottom: 10px;
    padding-right: 10px;
}

.post {
    border: 2px solid var(--window-border);
    padding: 10px;
    background: linear-gradient(
        0deg,
        var(--window-background-bottom) 0%,
        var(--window-background-top) 100%
        );
    box-shadow:
        var(--window-shadow)
        10px
        10px
        3px
    ;
}

.controls {
    grid-area: controls;
    border: 2px solid var(--window-border);
    padding: 5px;
    background: linear-gradient(
        0deg,
        var(--window-background-bottom) 0%,
        var(--window-background-top) 100%
    );
    box-shadow:
        var(--window-shadow)
        10px
        10px
        3px
    ;
    margin-right: 10px;
}

.item {
    align-items: center;
    display: grid;
    height: 50px;
    width: 99%;
    grid-template-rows: 1fr;
    grid-template-columns: 0.1fr 1fr 0.15fr;
    grid-template-areas:
        "itemIcon itemText itemPlatform"
    ;
    border: 2px solid var(--window-border);
    margin: 5px;
    background: linear-gradient(
        0deg,
        var(--window-background-bottom) 0%,
        var(--window-background-top) 100%
    );
}

.itemIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemText {
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: 10%;
}

.itemPlatform {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggleBGM {
    border: 2px solid var(--window-border);
    background: linear-gradient(
        0deg,
        var(--window-background-bottom) 0%,
        var(--window-background-top) 100%
    );
}



/** Text */

h1 {
    font-family: var(--logo-font);
    display: inline;
    font-size: 92px;
    letter-spacing: 1px;
    word-spacing: 0px;
    line-height: 50px;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-transform: capitalize;
    color: var(--logo-colour);
    animation: glowFlicker var(--logo-glow-speed) linear infinite;
}

p {
    font-family: "galmuri9", sans-serif;
    font-size: var(--p-size);
    letter-spacing: 1px;
    word-spacing: -1px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 20px;
    font-weight: 580;
    text-decoration: none;
    font-style: normal;
    color: var(--font-colour);
    text-shadow:
        var(--font-shadow)
        1px
        1px
    ;
    padding: 0px;
}

a {
    text-decoration: none;
}

h2 {
    font-family: "galmuri9", sans-serif;
    font-size: var(--h2-size);
    letter-spacing: 2px;
    word-spacing: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 40px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    color: var(--font-colour);
    text-shadow:
        var(--font-shadow)
        2px
        2px
    ;
    padding: 0px;
}

h3 {
    font-family: "galmuri9", sans-serif;
    font-size: var(--h3-size);
    letter-spacing: 2px;
    word-spacing: -5px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 35px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    color: var(--font-colour);
    text-shadow:
        var(--font-shadow)
        2px
        2px
    ;
    padding: 0px;
}

span.status-red {   color: red }
span.status-green { color: lime}

p.foot {
    font-size: 14px;
    font-weight: 400;
    margin-top: -2px;
    margin-left: 5px;
    color: var(--frame-text-colour);
}

::selection {
    background-color: var(--select-colour);
    color: var(--select-text-colour);
}

:hover {
    border-color: var(--window-hover-border);
    color: var(--hover-text-colour);
}

/** Frame */
*, ::before, ::after {
    box-sizing: border-box;
}

.frame::before {
    content: "";
    border: 2px solid var(--frame-colour);
    border-right-width: 2px;
    box-shadow: 0 0 25px var(--frame-glow) inset;
    height: calc(100vh - 30px);
    width: 100vw;
    pointer-events: none;
    position: fixed;
    background:
        var(--overlay-gradient)
        no-repeat
    ;
}

.footer {
    background-color: var(--frame-colour);
    padding: 5px;
    width: 100vw;
    height: 30px;
    position: fixed;
    bottom: 0px;
}

/** WebAmp Location */

.webampLocation {
    content: "";
    position: fixed;
    right: 150px;
    bottom: 225px;
}

@keyframes backgroundAnimation {
    0% {
        background-position: var(--background-scroll-start);
    }
    100% {
        background-position: var(--background-scroll-finish);
    }
}

@keyframes glowFlicker {
    0% {
        text-shadow: 
        var(--logo-glow-colour0)
        1px
        0px
        20px
        ;
    }
    50% {
        text-shadow: 
        var(--logo-glow-colour1)
        1px
        0px
        20px
        ;
    }
    100% {
        text-shadow: 
        var(--logo-glow-colour2)
        1px
        0px
        20px
        ;
    }
}